@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .active {
    @apply text-primary;
  }
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}